.avatar-wrapper {
  position: relative;
}

.avatar-popup {
  position: absolute;
  top: calc(100% + 10px);
  right: 0;

  width: 260px;
  padding: 1rem;

  background: var(--surface);
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);

  display: none;
  z-index: 99999;
}

.avatar-popup.open {
  display: block;
}
